.main {
    color: crimson;

    .point {
        color: #faf;
    }
}
.mainBackground {
    background-color: #e7e7e7;
}
.HelloWordColor {
    color: darkcyan;
}
.HelloWordSize {
    font-size: 40px;
}